.cardCarrito {
    display: flex;
    align-items: center;
    padding: .4em;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 1em;
    text-transform: uppercase;
}

.producto-imagen {
    width: 9em;
    height: 10em;
    margin-right: 1em;
    background-color: aqua;
    
}

.producto-info {
    flex-grow: 1;
    background-color: bisque;
}

.producto-nombre {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: .3em;
}

.producto-precio {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1em;
}

.producto-cantidad {
    display: flex;
    align-items: center;
}

.producto-cantidad span {
    margin-right: 5px;
}

.cantidad {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.eliminar-producto {
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgb(144, 142, 142);
    display: inline-block;
    width: 6em;
    height: 4em;
}

.eliminar-producto i{
      font-size: 1.6em;
}


//btn compras generales 

.botones-globales {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.3em;
}

.botones-globales button {
    background-color: #eab8b8;
    border: none;
    padding: .8em 1.3em;
    width: 20em;
    cursor: pointer;
}

.botones-globales button:hover {
    background-color: #bcd74d;
}

