// menu ingreso 
body { 
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 31%, rgba(38,117,142,1) 61%);
}

#sectionIngreso {
  z-index: 50;
  top: 50%; 
  left: 15%; 
  transform: translate(-50%, -50%); 
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 450px;
   

} 
.contenedor-ingreso {
  padding:30px;
  position: relative;
  width: 400px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(19, 18, 18, 0.6);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
   
}


.contenedor h2 { 
     font-size:2.3 rem;
     color: #181010;
     text-align: center;


 }

 .input-contenedor { 
         position: relative;
         margin: 30px 0;
         width: 300px;
         border-bottom: 2px solid #fff;

  }
.input-contenedor label  { 
     position: absolute;
     left: 5px;
     transform: translateY(-50%);
     color: #141111;
     font-size: 1rem;
     pointer-events: none;
     transition: .6s;
     font-family: bold;





 }

 input:focu~label,
 input:valid~label { 
     top:-5px;



  }

.input-contenedor {
  #password {
    width: 90%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 10px;
    color: #0c0b0b;
}

i {
  position: absolute;
  color: #0e0d0d;
  font-size: 1.6rem;
  top: 19px;
  right: 8px;
 } 

}
 


button { 
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  transition: .4s;
}

button:hover { 
  opacity: .9;

 }



.registrar {
 font-size: .8rem;
 color: #161414;
 text-align: center;
 margin: 20px 0 10px;

}

.registrar p a {
 text-decoration: none;
 color: #0f0a0a;
 font-weight: bold;
 transition: .3s;

}

 .registrar p a:hover {
   text-decoration:underline ;

}



//animation




@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

.store-container {
  line-height:0;
  margin: 1.2em auto;
  margin-right: 60px;
  width: 60vw;
  
 
}
.stroke {
  stroke: #0170bb;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.round-end {
  stroke-linecap: round;
}
#store {
  animation: fadeIn 0.8s ease-in;
}
.border-animation {
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.border-animation:after {
  content: "";
  background: linear-gradient(45deg, #ccc 48.9%, #26bb01 49%);
  background-size: 300% 300%;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  z-index: -1;
  animation: borderGradient 8s linear both infinite;
}
@keyframes borderGradient {
  0%,
  100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#browser {
  transform: translateY(-100%);
  -webkit-animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
  animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
}
@keyframes moveDown {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
#toldo {
  animation: fadeIn 1s 1.4s ease-in forwards;
}
.grass {
  animation: fadeIn 0.5s 1.6s ease-in forwards;
}
#window {
  animation: fadeIn 0.5s 1.8s ease-in forwards;
}
#door {
  animation: fadeIn 0.5s 2s ease-in forwards;
}
#sign {
  transform-origin: 837px 597px;
  animation: pendulum 1.5s 2s ease-in-out alternate;
}
.trees {
  animation: fadeIn 0.5s 2.2s ease-in forwards;
}
#toldo,
.grass,
#window,
#door,
.trees,
.cat,
.cat-shadow,
.box,
.parachute,
.tshirt,
.cap,
.ball,
#text,
#button,
.sky-circle,
.sky-circle2,
.sky-circle3 {
  opacity: 0;
}
@keyframes pendulum {
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.cat {
  transform-origin: 1145px 620px;
}
.cat-shadow {
  transform-origin: 1115px 625px;
}
#store:hover .cat {
  animation: catHi 3s 3s cubic-bezier(0.7, -0.5, 0.3, 1.4);
}
#store:hover .cat-shadow {
  animation: catShadow 4s 2s cubic-bezier(0.7, -0.5, 0.3, 1.4) alternate;
}
@keyframes catHi {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
  10%,
  60% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes catShadow {
  0%,
  100% {
    transform: translate(40px, -35px) scale(0.3);
  }
  10%,
  60% {
    opacity: 1;
    transform: translate(-5px, 10px) scale(0.5);
  }
  60% {
    opacity: 0;
  }
}
.box,
.parachute {
  transform-origin: 430px 100px;
  animation: moveBox 14s 4s linear forwards infinite;
}
.parachute {
  animation: parachute 14s 4s linear forwards infinite;
}
@keyframes moveBox {
  0% {
    opacity: 0;
    transform: translate(0, -150px) rotate(20deg);
  }
  15% {
    opacity: 1;
    transform: translate(0, 100px) rotate(-15deg);
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  35% {
    opacity: 1;
    transform: translate(0, 570px) rotate(0deg);
  }
  45%,
  100% {
    opacity: 0;
    transform: translate(0, 570px);
  }
}
@keyframes parachute {
  0% {
    transform: translate(0, -150px) rotate(20deg) scale(0.8);
    opacity: 0;
  }
  15% {
    transform: translate(0, 100px) rotate(-15deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  33% {
    transform: translate(0, 460px) rotate(0deg) scale(0.9);
    opacity: 1;
  }
  45%,
  100% {
    transform: translate(0, 480px);
    opacity: 0;
  }
}
.tshirt {
  animation: fadeInOut 42s 10s ease-in forwards infinite;
}
.cap {
  animation: fadeInOut 42s 24s ease-in forwards infinite;
}
.ball {
  animation: fadeInOut 42s 38s ease-in forwards infinite;
}
#text,
#button {
  animation: fadeIn 1s 5s ease-in forwards;
}
@keyframes fadeInOut {
  5%,
  12% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
.cloud {
  animation: clouds 50s linear backwards infinite;
}
.cloud2 {
  animation: clouds 40s 40s linear backwards infinite;
}
.plane {
  animation: clouds 30s linear backwards infinite;
  will-change: transform;
}
@keyframes clouds {
  from {
    transform: translate(-150%, 0);
  }
  to {
    transform: translate(150%, 0);
  }
}
.sky-circle {
  animation: fadeInOut 10s 5s ease-in infinite;
}
.sky-circle2 {
  animation: fadeInOut 12s 30s ease-in infinite;
}
.sky-circle3 {
  animation: fadeInOut 8s 40s ease-in infinite;
}
@media (max-width:1200px) {
  .store-container{
    display: none;
    position: absolute;
  }
 
  
  #sectionIngreso {
    display: flex;
    position: relative;
   
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: rgb(34,193,195);
   background: linear-gradient(0deg, rgba(34,193,195,1) 31%, rgba(38,117,142,1) 61%);
   top: 0; 
   left: 0;
   right: 0;
   bottom: 0;

   transform:none; 
  
  } 
     
  
  } 
