@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 31%, rgb(38, 117, 142) 61%);
}

#sectionIngreso {
  z-index: 50;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 450px;
}

.contenedor-ingreso {
  padding: 30px;
  position: relative;
  width: 400px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 2px solid rgba(19, 18, 18, 0.6);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.contenedor h2 {
  font-size: 2.3 rem;
  color: #181010;
  text-align: center;
}

.input-contenedor {
  position: relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}

.input-contenedor label {
  position: absolute;
  left: 5px;
  transform: translateY(-50%);
  color: #141111;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.6s;
  font-family: bold;
}

input:focu ~ label,
input:valid ~ label {
  top: -5px;
}

.input-contenedor #password {
  width: 90%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: -35px 0 10px;
  color: #0c0b0b;
}
.input-contenedor i {
  position: absolute;
  color: #0e0d0d;
  font-size: 1.6rem;
  top: 19px;
  right: 8px;
}

button {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.registrar {
  font-size: 0.8rem;
  color: #161414;
  text-align: center;
  margin: 20px 0 10px;
}

.registrar p a {
  text-decoration: none;
  color: #0f0a0a;
  font-weight: bold;
  transition: 0.3s;
}

.registrar p a:hover {
  text-decoration: underline;
}

.store-container {
  line-height: 0;
  margin: 1.2em auto;
  margin-right: 60px;
  width: 60vw;
}

.stroke {
  stroke: #0170bb;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.round-end {
  stroke-linecap: round;
}

#store {
  animation: fadeIn 0.8s ease-in;
}

.border-animation {
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.border-animation:after {
  content: "";
  background: linear-gradient(45deg, #ccc 48.9%, #26bb01 49%);
  background-size: 300% 300%;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  z-index: -1;
  animation: borderGradient 8s linear both infinite;
}

@keyframes borderGradient {
  0%, 100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#browser {
  transform: translateY(-100%);
  animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
}

@keyframes moveDown {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
#toldo {
  animation: fadeIn 1s 1.4s ease-in forwards;
}

.grass {
  animation: fadeIn 0.5s 1.6s ease-in forwards;
}

#window {
  animation: fadeIn 0.5s 1.8s ease-in forwards;
}

#door {
  animation: fadeIn 0.5s 2s ease-in forwards;
}

#sign {
  transform-origin: 837px 597px;
  animation: pendulum 1.5s 2s ease-in-out alternate;
}

.trees {
  animation: fadeIn 0.5s 2.2s ease-in forwards;
}

#toldo,
.grass,
#window,
#door,
.trees,
.cat,
.cat-shadow,
.box,
.parachute,
.tshirt,
.cap,
.ball,
#text,
#button,
.sky-circle,
.sky-circle2,
.sky-circle3 {
  opacity: 0;
}

@keyframes pendulum {
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.cat {
  transform-origin: 1145px 620px;
}

.cat-shadow {
  transform-origin: 1115px 625px;
}

#store:hover .cat {
  animation: catHi 3s 3s cubic-bezier(0.7, -0.5, 0.3, 1.4);
}

#store:hover .cat-shadow {
  animation: catShadow 4s 2s cubic-bezier(0.7, -0.5, 0.3, 1.4) alternate;
}

@keyframes catHi {
  0%, 100% {
    opacity: 0;
    transform: scale(0.8);
  }
  10%, 60% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes catShadow {
  0%, 100% {
    transform: translate(40px, -35px) scale(0.3);
  }
  10%, 60% {
    opacity: 1;
    transform: translate(-5px, 10px) scale(0.5);
  }
  60% {
    opacity: 0;
  }
}
.box,
.parachute {
  transform-origin: 430px 100px;
  animation: moveBox 14s 4s linear forwards infinite;
}

.parachute {
  animation: parachute 14s 4s linear forwards infinite;
}

@keyframes moveBox {
  0% {
    opacity: 0;
    transform: translate(0, -150px) rotate(20deg);
  }
  15% {
    opacity: 1;
    transform: translate(0, 100px) rotate(-15deg);
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  35% {
    opacity: 1;
    transform: translate(0, 570px) rotate(0deg);
  }
  45%, 100% {
    opacity: 0;
    transform: translate(0, 570px);
  }
}
@keyframes parachute {
  0% {
    transform: translate(0, -150px) rotate(20deg) scale(0.8);
    opacity: 0;
  }
  15% {
    transform: translate(0, 100px) rotate(-15deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  33% {
    transform: translate(0, 460px) rotate(0deg) scale(0.9);
    opacity: 1;
  }
  45%, 100% {
    transform: translate(0, 480px);
    opacity: 0;
  }
}
.tshirt {
  animation: fadeInOut 42s 10s ease-in forwards infinite;
}

.cap {
  animation: fadeInOut 42s 24s ease-in forwards infinite;
}

.ball {
  animation: fadeInOut 42s 38s ease-in forwards infinite;
}

#text,
#button {
  animation: fadeIn 1s 5s ease-in forwards;
}

@keyframes fadeInOut {
  5%, 12% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
.cloud {
  animation: clouds 50s linear backwards infinite;
}

.cloud2 {
  animation: clouds 40s 40s linear backwards infinite;
}

.plane {
  animation: clouds 30s linear backwards infinite;
  will-change: transform;
}

@keyframes clouds {
  from {
    transform: translate(-150%, 0);
  }
  to {
    transform: translate(150%, 0);
  }
}
.sky-circle {
  animation: fadeInOut 10s 5s ease-in infinite;
}

.sky-circle2 {
  animation: fadeInOut 12s 30s ease-in infinite;
}

.sky-circle3 {
  animation: fadeInOut 8s 40s ease-in infinite;
}

@media (max-width: 1200px) {
  .store-container {
    display: none;
    position: absolute;
  }
  #sectionIngreso {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgb(34, 193, 195) 31%, rgb(38, 117, 142) 61%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
  }
}
body {
  background: rgb(69, 205, 231);
  background: linear-gradient(90deg, rgb(69, 205, 231) 0%, rgb(13, 20, 201) 33%, rgb(10, 7, 2) 79%);
}

#contenedorCarrito {
  display: inline-block;
  position: relative;
  width: 97vw;
  height: 100%;
  margin-top: 4em;
  margin-left: 1em;
  background: transparent;
}

.cardCarrito {
  display: flex;
  align-items: center;
  padding: 0.4em;
  border: 1px solid #1113c6;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 0.4em;
  text-transform: uppercase;
}

.producto-imagen {
  border-radius: 8px;
  width: 9em;
  height: 10em;
  margin-right: 1em;
}

.producto-info {
  flex-grow: 1;
}

.producto-nombre {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.3em;
}

.producto-precio {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1em;
}

.producto-cantidad {
  display: flex;
  align-items: center;
}

.producto-cantidad span {
  margin-right: 5px;
}

.cantidad {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.eliminar-producto {
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgb(211, 205, 205);
  display: inline-block;
  width: 6em;
  height: 4em;
  margin-right: 1em;
}

.eliminar-producto i {
  font-size: 1.6em;
}

#totalCarrito {
  color: aliceblue;
}
#totalCarrito h2 {
  font-size: 1em;
}
#totalCarrito span {
  font-size: 2em;
  padding: 0.2em;
  background-color: #176b22;
  border: none;
  border-radius: 5px;
}

.botones-globales {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.3em;
  margin-bottom: 2em;
}

.botones-globales button {
  color: white;
  background-color: #080cff;
  border: none;
  padding: 0.8em 1.3em;
  width: 20em;
  cursor: pointer;
}

.botones-globales button:hover {
  background-color: #14afec;
}

#sectionRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 31%, rgb(38, 117, 142) 61%);
}

.contenedor-registro {
  padding: 30px;
  position: relative;
  width: 400px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.6);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.formulario-registro h2 {
  font-size: 2.3 rem;
  color: #fff;
  text-align: center;
}

.input-contenedor {
  position: relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}

.input-contenedor label {
  position: absolute;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.6s;
  font-family: bold;
}

input:focu ~ label,
input:valid ~ label {
  top: -5px;
}

.input-contenedor input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: -35px 0 5px;
  color: #fff;
}

.input-contenedor i {
  position: absolute;
  color: #fff;
  font-size: 1.6rem;
  top: 19px;
  right: 8px;
}

button {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

#navBarPosition {
  position: fixed;
  z-index: 50;
  width: 100%;
}

/*
.contenedorCarrousel{
   display: inline-block;
   margin-top: 2em;
   width: 100vw;
   z-index: 1;

   .carousel-control-prev,
   .carousel-control-next{
        position: absolute;
        top: 50%;

   }
}*/
.cardContenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100vw;
  height: 150vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 17%, rgb(9, 22, 27) 53%);
  margin-top: 0em;
}
.cardContenedor .card {
  height: 22em;
  width: 14em;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.4em;
  margin-top: 6em;
}
.cardContenedor .card p {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.cardContenedor .card h3 {
  display: block;
  text-align: center;
  font-weight: bold;
}
.cardContenedor .card button {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #010202;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.cardContenedor button:hover {
  background-color: #c5b35b;
  transition: 0.5s;
}
.cardContenedor .card:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}

@media (max-width: 1200px) {
  .cardContenedor {
    height: 400vh;
  }
}
@media (max-width: 700px) {
  .cardContenedor {
    height: 600vh;
  }
}
@media (max-width: 450px) {
  .cardContenedor {
    height: 1100vh;
  }
}
.sumaCarrito {
  display: inline-block;
  border-style: none;
  background-color: #938956;
  padding: 0 0.4em 0 0.3em;
  border-radius: 4px;
  margin-left: 0.3em;
}/*# sourceMappingURL=style.css.map */