@import "ingresa";
@import "carrito";
@import "registrate";

$contraste: #010202;
$dorado: #c5b35b;
$grisClaro: #bbb9af;
$blanco: #fff;
$beige:rgb(34,193,195);; 

* { 
   margin: 0;
   padding:0; 
   box-sizing: border-box;
   font-family: sans-serif;
   
}
body { 
   overflow-x: hidden;
}
#navBarPosition{
   position: fixed;
   z-index: 50;
   width: 100%;

   
}


/*
.contenedorCarrousel{
   display: inline-block;
   margin-top: 2em;
   width: 100vw;
   z-index: 1;
   
   .carousel-control-prev,
   .carousel-control-next{
        position: absolute;
        top: 50%;

   }
}*/

 .cardContenedor{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;    
        gap: 1em;
     
        width:100vw;
        height:150vh;
        background: $beige;
        background: linear-gradient(0deg, rgba(34,193,195,1) 17%, rgba(9,22,27,1) 53%);
        margin-top: 0em;
        
     
         .card{
         height:22em;
         width:14em;
         border-radius: 1rem;
         background-color:$blanco;
         border: 1px solid #000;
         padding: .4em;
         margin-top: 6em;


             p{
                display: block;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
             }

             h3{
                display: block;
                text-align: center;
                font-weight: bold;

             }
       

         button{
            display: block;
            margin: 10px auto;
            border: none;
            background-color: $contraste;
            color: $blanco;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            

              

        }
 
     }
     button:hover{
         background-color:$dorado;
         transition: .5s;
                
     }
        
        .card:hover{
        box-shadow: 0 0 10px #666;
        scale: 1.05;
    }
  
    }

@media (max-width:1200px){
   .cardContenedor{
      height:400vh;
   }
   
}
@media (max-width:700px){
   .cardContenedor{
      height:600vh;
   }
   
}
@media (max-width:450px){
   .cardContenedor{
      height:1100vh;
   }
   
}




.sumaCarrito { 
   display: inline-block;
   border-style: none;
   background-color: #938956;
   padding: 0 .4em 0 .3em;
   border-radius: 4px;
   margin-left: .3em;



}    